.tag {
  color: white;
  display: flex;
  justify-content: center;
  height: 65px;
  align-items: center;
  
}

.id {
  width: 10%;
  display: flex;
  justify-content: center;
}

.competitor {
  height: 65px;
}