.tag {
  color: white;
  display: flex;

  height: 65px;
  align-items: center;
  background-color: rgb(151, 27, 120);
}

.id {
  width: 10%;
  display: flex;
  justify-content: center;
}

.message {

}