body {
  background-color: #242424;
}

.container {
  color: #ffffff;
}

.requests {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1b5cad;
  height: 65px;
  padding: 0 10px !important
}

.menu {
  flex: 1;
  min-width: 0;
  background-color: #1b5cad;
  color: white
}


.container {
  background: #2b3e8b;
  min-height: calc(100vh - 130px);
  padding: 24px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b5cad;
  color: white;
  height: 65px;
}

.button {
  height: 50px;
  border: 1px solid white;
  border-radius: 20px;

}

.logo {
  width: 55px;
  margin-top: 5px;
}

.input {
  width: 200px;
}

.inputTitle {
  color: white
}

